# Задание 1

In [3]:
import pandas as pd
import numpy as np

from sklearn.datasets import load_boston

boston_dataset = load_boston()

In [6]:
target = boston_dataset.target
target_col_name = ['price']

target_df = pd.DataFrame(data=target, columns=target_col_name)
target_df.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [7]:
data = boston_dataset.data
data_col_names = boston_dataset.feature_names

data_df = pd.DataFrame(data=data, columns=data_col_names)
data_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [9]:
from sklearn.model_selection import train_test_split

data_train, data_test, target_train, target_test = train_test_split(data_df, target_df, test_size=0.3, random_state=42)

In [10]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()

In [15]:
linear_model = lr.fit(data_train, target_train)
model_pred = linear_model.predict(data_test)

In [17]:
from sklearn.metrics import r2_score

r2_score(
    target_test['price'].values,
    model_pred.flatten()
)

0.711226005748496

# Задание 2

In [18]:
from sklearn.ensemble import RandomForestRegressor

In [21]:
rfr_model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
f_model = rfr_model.fit(data_train, target_train.values[:,0])

In [23]:
rfr_predict = f_model.predict(data_test)

In [24]:
r2_score(
    target_test['price'].values,
    rfr_predict.flatten()
)

0.87472606157312

Вывод: модель, построенная с использованием алгоритма машинного обучения RandomForestRegressor оказалось лучшей относительно модели, построенной с использованием алгоритма LinearRegression.

# Задание 3

In [25]:
?RandomForestRegressor

In [26]:
f_model.feature_importances_

array([0.03167574, 0.00154252, 0.00713813, 0.00123624, 0.01426897,
       0.40268179, 0.01429864, 0.06397257, 0.00528122, 0.01152493,
       0.01808108, 0.01245085, 0.41584732])

In [66]:
importance_features_names = pd.DataFrame(
    data=f_model.feature_importances_, 
    columns=['importance'],
    index=boston_dataset.feature_names 
)

importance_features_names

         importance
CRIM       0.031676
ZN         0.001543
INDUS      0.007138
CHAS       0.001236
NOX        0.014269
RM         0.402682
AGE        0.014299
DIS        0.063973
RAD        0.005281
TAX        0.011525
PTRATIO    0.018081
B          0.012451
LSTAT      0.415847

In [70]:
importance_features_names.sort_values(by='importance', ascending=False).head(2)

       importance
LSTAT    0.415847
RM       0.402682